/* PANELS */
.buttonsPanel.context {
    height: 100%;
}

.dialogCloseButton {
    visibility: hidden;
}

/* Position elements */
.horizontalLineTemplate {
    height: 86px;
    width: 184px;
}
.horizontalLineTemplate div {
    height: 50%;
    padding: 0px;
    border-bottom: 1px solid rgb(64,64,64);
}