.topDockArea {
    height: 80px;
    background-color:rgba(255,255,255,0.95);
}
.bottomDockArea {
    height: 80px;
	padding-top: 13px;
	padding-left: 560px;
    background-color:rgba(255,255,255,0.95);
}
.dockLineGradient {
    height: 0px;
    background-image: url(/images/customerFlow/line_gradient.png);
}
.dockClaim {
    width: 235px;
	height: 56px;
    background-image: url(/images/customerFlow/logo.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dockLogo {
    width: 209px;
	height: 56px;
    background-image: url(/images/customerFlow/claim.png);
    background-repeat: no-repeat;
    background-position: left;
}

.topDockArea .pageTitle {
    height: 78px;
    padding: 10px 20px 4px 20px;
    font-family: "Open Sans", "Segoe UI", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(93,110,129);
    vertical-align: middle;
}
.contentArea {
    padding: 0px;
    height: 100%;
    width: 100%;
}

/* CONTEXT STATE INFO panel */
.contextStateInfoPanel {
    height: 80px;
    font-family: "Open Sans", "Segoe UI", Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: rgb(93,110,129);
    vertical-align: bottom;
    text-align: center;
	border-left-width: 0px;
    border-left-color: rgb(218,218,218);
    border-left-style: solid;
	border-right-width: 0px;
    border-right-color: rgb(218,218,218);
    border-right-style: solid;
	border-bottom-width: 1px;
    border-bottom-color: rgba(12,65,122,0.05);
    border-bottom-style: solid;
	border-top-width: 0px;
    border-top-color: rgb(218,218,218);
    border-top-style: solid;		
/*     background-color: rgba(255,255,255,0.65); */
}
.contextStateInfoPanel .label {
    padding-left: 60px;
    vertical-align: middle;
    font-size: 38px;
    color: rgb(12,65,122);
    font-family: "Open Sans", "Segoe UI", Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.contextStateInfoPanel .iconContainer {
    width: 90px;
    padding-top: 12px;
    padding-right: 16px;
}
.contextStateInfoPanel .iconContainer .customerInfoIcon {
    top: 23px;
    width: 56px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
}
.contextStateInfoPanel .iconContainer .infoIconCheckMark {
    top: 2px;
    left: 53px;
    width: 24px;
    height: 24px;
/*     background-repeat: no-repeat; */
/*     background-position: center; */
/*     background-image: url(/images/customerFlow/icons/icon_header_checkmark.png); */
}
#customerIcon {
    left: 14px;
    background-image: url(/images/common/icons/icon_CD_registCustomer.png);
}
#customerIcon:disabled {
    /* disabled style */
    background-image: none;
}

/* MAIN PANELS - REGISTRATION, PAYMENT, PAYMENT-END */
.mainAreas {
    padding: 0px;
}
.leftContentArea {
    width: 660px;
    height: 100%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    text-align: left;
    background-color: rgba(255,255,255,0.5);    
}
.rightContentArea {
    width: 364px;
    height: 100%;
    padding-top: 0px;
    text-align: left;
/*     background-color: rgba(255,255,255,0.3); */
}

/* TRANSACTION PREVIEW */
.transactionPreviewComponent {
    height: 510px;
    background-color: rgba(255,255,255,0);
    border: 0px solid rgba(255,255,255,0);
    border-radius: 4px;
}
.transactionPreviewComponent.scaleInfos {
    height: 410px;
}
#transactionPreviewTable {
    background-color: transparent;
}


td {
/* 	background-color: rgba(255,255,255,0.75); */
    font-size: 20px;
    padding-left: 34px;
/*     border-bottom: 1px solid rgb(218,218,218); */
}
/* alternate style */
td:link {
/* 	background-color: rgba(255,255,255,0.75); */
}
/* selected style */
td:active {
    background-color: rgb(255,255,255);
	font-size: 20px;
}


/* SCALE INFOS */
.scaleInfoArea {
    height: 100px;
}
.scaleInfo {
    height: 100px;
    padding-top: 12px;
    padding-left: 20px;
}
.scaleInfo .box {
    background-color: rgba(255,255,255,0.8);
    border: 1px solid rgba(255,255,255,0.8);
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
}
.scaleInfo .value {
    text-align: right;
    vertical-align: top;
    font-family: "Open Sans", "Segoe UI", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 44px;
    color: black;
}
/* .scaleInfo .label { */
/*     height: 34px; */
/*     text-align: left; */
/*     vertical-align: bottom; */
/*     font-family: "Open Sans Light", "Segoe UI Light", Verdana, Geneva, Arial, Helvetica, sans-serif; */
/*     font-size: 24px; */
/*     color: black; */
/* } */
.scaleInfo .boxWrapper.details {
    width: 360px;
    padding-right: 12px;
}
.scaleInfo .box.details {
    width: 348px;
}
.scaleInfo .boxWrapper.weight {
    width: 260px;
}
.scaleInfo .box.weight {
    width: 260px;
}
.scaleInfo .box.details label {
    height: 28px;
    font-family: "Open Sans", "Segoe UI", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
}



/* TRANSACTION INFOs */
.transactionInfoArea {
    height: 160px;
	padding-left: 20px;
	padding-top: 20px;
}
.transactionInfo {
    height: 140px;
    padding-top: 12px;
}
.transactionInfo .box {
    border-right: 1px solid rgb(168,180,192);
/*     border-radius: 4px; */
    padding-left: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
	/* box-shadow: 11px 10px 5px 0px rgba(255,0,0,0.75); */
}
.transactionInfo .valueContainer,
.transactionInfo .value {
    height: 68px;
    text-align: right;
    vertical-align: bottom;
}
.transactionInfo .label {
    height: 44px;
    text-align: left;
    vertical-align: bottom;
}
.transactionInfo .boxWrapper.points {
    width: 160px;
    padding-right: 12px;
}
.transactionInfo .box.points {
    width: 148px;
}
.transactionInfo .points .value {
    font-family: "Open Sans Semibold", "Segoe UI Light", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: rgb(12,65,122);
}
.transactionInfo .points .label {
    font-family: "Open Sans Semibold", "Segoe UI Light", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: rgb(12,65,122);
}
.transactionInfo .boxWrapper.youSave {
    width: 200px;
    padding-right: 12px;
}
.transactionInfo .box.youSave {
    width: 188px;
}
.transactionInfo .youSave .value {
    font-family: "Open Sans Semibold", "Segoe UI Light", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: rgba(220,99,18,1);
}
.transactionInfo .youSave .label {
    font-family: "Open Sans Semibold", "Segoe UI Light", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: rgba(220,99,18,1);
}
.transactionInfo .boxWrapper.total {
    width: 260px;
}
.transactionInfo .box.total {
    width: 260px;
    border-right: 1px solid rgba(0,0,0,0);
}
.transactionInfo .total .valueContainer,
.transactionInfo .total .value {
    height: 70px;
    font-family: "Open Sans Semibold", "Segoe UI", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 44px;
    color: rgb(12,65,122);
}
.transactionInfo .total .exchangeRateInfo {
    height: 28px;
    text-align: right;
    vertical-align: bottom;
    font-family: "Open Sans Semibold", "Segoe UI", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(12,65,122);
}
.transactionInfo .total .valueWithCurrency {
    height: 38px;
    text-align: right;
    vertical-align: bottom;
    font-family: "Open Sans Semibold", "Segoe UI", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(12,65,122);
}
.transactionInfo .total .label {
    height: 42px;
    font-family: "Open Sans Semibold", "Segoe UI", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: rgb(12,65,122);
}


/* MEDIA PANELS ON RIGHTS SIDE (REGISTRATION & PAYMENT) */
.mediaPanels {
    width: 364px;
    height: 100%;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
/*     box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75); */
/*     background-image: url(/images/customerFlow/logo_withBG.png); */
/*     background-repeat: no-repeat; */
/*     background-position: bottom; */
}
.mediaPanels .mediaPanelWrapper {
    height: 768px;
    padding-bottom: 0px;
}
.mediaPanels .mediaPanel {
    height: 768px;
    width: 364px;
}


/* PAYMENT END */
.leftContentArea.paymentEnd {
    width: 100%;
    background-color: transparent;
}
.leftContentArea.paymentEnd .label  {
    padding: 16px 40px 16px 296px;
    font-family: "Open Sans Extrabold", "Segoe UI Bold", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: white;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
/*     background-color: rgba(255,255,255,0.80); */
/*     color: rgb(93,110,129); */
}
.rightContentArea.paymentEnd {
    width: 0px;
    background-color: transparent;
/*     background-image: url(/images/customerFlow/logo_withBG.png); */
/*     background-repeat: no-repeat; */
/*     background-position: bottom; */
}
